@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 50%;
    height: 50vh;
    overflow: hidden;
    font-family: Poppins, sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    user-select: none !important;
    overflow: hidden !important;
}

/* cinema */

.cinema {
    display: none;
}

.cinema-top {
    position: absolute;
    width: 50%;
    height: 12%;
    top: 0;
    left: 0;
    background-color: #1ceb01;
}

.cinema-bottom {
    position: absolute;
    width: 50%;
    height: 12%;
    bottom: 2;
    left: 0;
    background-color: #1ceb016b;
}


/* ====================== */
/* STATUS */
/* ====================== */

/* .status {
} */

.status>.tab {
    position: absolute;
    background-color: #1ceb016b;
    width: 8vh;
    height: 1.6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: bottom 0.3s ease-out, top 0.3s ease-out, right 0.3s ease-out;
    border-radius: 1vh 1vh 0 0;
}

.status#status-bottom>.tab {
    bottom: 0;
    left: 50%;
    top: unset !important;
    transform: translateX(-50%);
}

.status#status-top>.tab {
    top: 0;
    left: 50%;
    transform-origin: 50%;
    bottom: unset !important;
    transform: translateX(-50%) rotate(180deg);
}

.status#status-right>.tab {
    right: 0;
    top: 50% !important;
    transform-origin: 25%;
    bottom: unset !important;
    transform: translateX(65%) rotate(-90deg);
}

.status>.tab>img {
    width: 1vh;
    height: 1vh;
    margin: auto 0;
    transform: rotate(180deg);
}

.status>.icons {
    position: absolute;
    display: flex;
    /* background: rgb(27, 27, 27, 0.65); */
    width: max-content;
    transition: bottom 0.3s ease-out, top 0.3s ease-out, right 0.3s ease-out;
}

.status#status-bottom>.icons {
    bottom: -7vh;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    border-radius: 1vh 1vh 0 0;
    top: unset !important;
    padding: 0 1vh;
}

.status#status-top>.icons {
    top: -7vh;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    border-radius: 0 0 1vh 1vh;
    bottom: unset !important;
    padding: 0 1vh;
}

.status#status-right>.icons {
    right: -7vh;
    top: 50% !important;
    transform: translateY(-50%);
    flex-direction: column;
    border-radius: 1vh 0 0 1vh;
    bottom: unset !important;
    padding: 1vh 0;
}

.status>.icons>.icon {
    position: relative;
    margin: 0.5vh;
    padding: 0.8vh;
    width: 4.25vh;
    height: 4.25vh;
    overflow: hidden;
    transition: width 0.3s ease-out, margin 0.3s ease-out;
    opacity: 1;
    background-color: #1ceb016b;
    border-bottom: 2px solid white;
    border-radius: 0.8vh;
    border-width: 0.3vh;
}

.status>.icons>.icon>.icon-inset {
    position: relative;
    width: 2.5vh;
    height: 2.5vh;
    z-index: 110;
    transition: clip-path ease-out 0.2s;
}

.status>.icons>.icon>.icon-bg {
    position: absolute;
    top: 0.8vh;
    left: 0.8vh;
    width: 2.5vh;
    height: 2.5vh;
    z-index: 100;
}

/* ====================== */
/* SPEEDOMETER */
/* ====================== */

.car-dash {
    position: absolute;
    bottom: 8px;
    right: 0;
    width: 30vh;
    height: 30vh;
    
    display: none;
}

.car-dash>.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1ceb016b;
    right: 1vh;
    bottom: -3vh;
    border-radius: 100%;
    filter: blur(10vh);
}

/* ANALOG SPEEDOMETER*/
.ring-tachometer-bg {
    position: absolute;
    bottom: -4213213312213vh;
    right: -2vh;
    transform: rotate(150deg);
}

.ring-tachometer-value {
    position: absolute;
    bottom: -432123123213vh;
    right: -2vh;
    transform: rotate(150deg);
}

.ring-speedometer-bg {
    position: absolute;
    bottom: -4vh;
    right: -2vh;
    transform: rotate(135deg);
}

.ring-speedometer-value {
    position: absolute;
    
    bottom: -4vh;
    right: -2vh;
    transform: rotate(135deg);
}

.speedometer-analog {
    position: absolute;
    
    right: 13.5vh;
    top: 15vh;
    transform: translateX(50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13vh;
    text-align: right;
}

.speedometer-analog .speed-gear {
    display: -webkit-box;
    display: -ms-flexbox;
    
    display: flex;
    font-size: 6vh;
    line-height: 6vh;
    color: white;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    width: 13vh;
}

.speedometer-analog .speed-gear>.gear {
    display: flex;
    align-items: center;
    border-radius: 100%;
    background-color: #606060;
    font-size: 1.4vh;
    line-height: unset;
    height: 2.4vh;
    width: 2.4vh;
    font-weight: 700;
    margin-right: 0.5vh;
    flex-shrink: 0;
}

.speedometer-analog .speed-gear>.gear>span {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.speedometer-analog .speed-gear>.speed {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.speedometer-analog .speed-gear>.speed>.speed-digit {
    width: calc(100% / 3);
    text-align: center;
    font-weight: 600;
}

.speedometer-analog .units {
    color: #808080;
    text-align: right;
    font-size: 1.6vh;
    text-transform: uppercase;
    
    font-weight: 600;
    margin-right: 0.3vh;
}

.speedometer-analog .zero {
    color: #ffffff40;
}

.streetlabel-analog {
    right: 13vh;
    top: 26vh;
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.2vh;
    background-color: #1ceb016b;
    padding: -1px;
    border-radius: 10px; 
    width: 13vh;
    transform: translate(50%, -50%);
    position: absolute;
    height: fit-content;
    text-align: center;
}

.streetlabel b {
    margin-left: 1vh;
}

svg>circle {
    transition: all ease-out 0.1s;
    
}

/* DIGITAL SPEEDOMETER*/
#digital {
    height: 15vh !important;
}

.speedometer-digital {
    position: absolute;
    right: 15vh;
    top: 3vh;
    transform: translateX(50%);
    background-color: #00000060;
    padding: 10px;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 27vh;
    text-align: right;
}

.speedometer-digital .speed-gear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 5vh;
    line-height: 5vh;
    color: white;
    font-weight: 500;
    align-items: center;
    align-content: space-between;
    width: 18vh;
}

.speedometer-digital .speed-gear>.gear {
    display: flex;
    align-items: center;
    border-radius: 100%;
    background-color: #969696;
    font-size: 1.6vh;
    line-height: unset;
    height: 2.4vh;
    width: 2.4vh;
    font-weight: 700;
    margin-right: 0.5vh;
    flex-shrink: 0;
}

.speedometer-digital .speed-gear>.gear>span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 2.4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.speedometer-digital .speed-gear>.speed {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 900;
    margin-right: 1vh;
}

.speedometer-digital .speed-gear>.speed>.speed-digit {
    width: calc(100% / 3);
    text-align: center;
}

.speedometer-digital>.speed-bar {
    position: relative;
    width: 25vh;
    height: 0.8vh;
    margin: 0.5vh 0;
    border-radius: 10px;
}

.speedometer-digital>.speed-bar>.speed-bar-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.8vh;
    border-radius: 10px;
    background-color: #1ceb01;
}

.speedometer-digital>.speed-bar>.speed-bar-val {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.8vh;
    background-color: white;
    border-radius: 10px;
}

.speedometer-digital .units {
    color: white;
    text-align: right;
    font-size: 1.6vh;
    height: 2.2vh;
    line-height: 1.6vh;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 0.3vh;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-top: auto;
}

.speedometer-digital .zero {
    color: #ffffff40;
}

.speedometer-digital>.streetlabel {
    text-align: right;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.4vh;
}

/* ====================== */
/* SETTINGS */
/* ====================== */

.settings {
    text-transform: uppercase;
    color: white;
    width: 50vh;
    min-width: 30vw;
    min-height: 55vh;
    position: absolute;
    top: 20%;
    left: 37%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    transform: skewX(-3deg);
    padding: 1.5vh 2vh;
    border-radius: 2.5vh;
}

.settings>.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.settings>.header>.name {
    font-size: 4vh;
    font-weight: 500;
}

.settings>.header>.close {
    width: 2vh;
    height: 2vh;
    position: relative;
    cursor: pointer;
}

.settings>.header>.close:hover::before,
.settings>.header>.close:hover::after {
    background-color: #bfbfbf !important;
}

.settings>.header>.close::before {
    content: "";
    width: 2vh;
    height: 0.3vh;
    background-color: white;
    position: absolute;
    top: 1.5vh;
    left: 0;
    transform: rotate(45deg);
}

.settings>.header>.close::after {
    content: "";
    width: 2vh;
    height: 0.3vh;
    background-color: white;
    position: absolute;
    top: 1.5vh;
    left: 0;
    transform: rotate(-45deg);
}

.settings>.content {
    display: flex;
    flex-direction: column;
}

.settings>.content>.category {
    display: flex;
    flex-direction: column;
}

.settings>.content>.category:not(:last-of-type) {
    margin-bottom: 1vh;
}

.settings>.content>.category>.name {
    font-size: 2vh;
    font-weight: 500;
    color: rgb(150, 150, 150);
}

.settings>.content>.category>.setting {
    color: rgb(220, 220, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings>.content>.category>.setting:not(:last-of-type) {
    margin-bottom: 0.5vh;
}

.settings>.content>.category>.setting>.name {
    font-size: 3vh;
    font-weight: 500;
}

.settings>.content>.category>.setting>.choice {
    font-size: 2vh;
    font-weight: 500;
}

.settings>.content>.category>.setting>.choice>.icons {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.settings>.content>.category>.setting>.choice>.icons>.choice-icon {
    width: 3vh;
    height: 3vh;
    margin-right: 0.5vh;
    cursor: pointer;
    fill: #808080;
}

.settings>.content>.category>.setting>.choice>.icons>.choice-icon.selected {
    fill: white;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    cursor: pointer;
    padding: 0.75vh 1vh;
    border-radius: 0.5vh;
    font-family: Poppins, sans-serif;
    margin: 0.25vh 0;
}

input[type="radio"]:checked+label {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.setting-color>.name {
    align-self: flex-start;
}

#hexInput {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 0.5vh;
    outline: none;
    border: none;
    padding: 0.5vh 0.8vh;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 130px;
    text-transform: uppercase;
}

.IroSlider {
    margin-left: auto;
}

.IroSlider {
    /* height: 0.5vh !important; */
    border-radius: 0.5vh !important;
}

.IroSliderGradient {
    /* height: 0.5vh !important; */
    border-radius: 0.5vh !important;
}

.restore-input {
    display: flex;
    align-items: center;
}

.restore-input>i {
    margin-right: 0.75vh;
    font-size: 1.6vh;
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.restore-input>i:hover {
    color: rgb(220, 220, 220);
}

html,
body {
    width: 100%;
    height: 100%;
    user-select: none;
    --green: #7fdf3f31;
    --pink: #c4145a;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    /* background: url('xcz.png'); */
}


h1,
h2,
h3,
h4,
h5,
h6 {

    font-weight: 400;

    /* text-transform: uppercase; */

    letter-spacing: 0.05em;

    margin-top: 0.4rem;

    font-family: Poppins, sans-serif;

    margin-bottom: 0.4rem;

}


::-webkit-scrollbar {

    display: none;

}


.ui {

    /* display: none; */

    width: 100%;

    height: 100%;

    margin: auto;

    opacity: 1;

}

.seatbelts-indicator-analog {
    position: absolute;
    top: -3vh;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.seatbelts-indicator-analog>img {
    width: 3vh;
    height: 3vh;
    animation: seatbelts-indicator;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.seatbelts-indicator-digital {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
    /* top: -3vh;
    left: 50%; */
    /* transform: translateX(-50%); */
    margin-right: 0.5vh;
    opacity: 0;
}

.seatbelts-indicator-digital>img {
    width: 3vh;
    height: 3vh;
    animation: seatbelts-indicator;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes seatbelts-indicator {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

.hud-old {
    width: 14.1vw;
    /* background-color: #000; */
    position: absolute;
    bottom: 0.6vh;
    left: 1.50vw;
    display: none;
}

.hud-old-item {
    /* background-color: #028cf3; */
    width: calc(50% - 2px);
    float: left;
    /* box-sizing: border-box; */
    box-sizing: content-box;
    border: 5px solid rgba(0, 0, 0, 0.6);
    border-inline: none;
    opacity: 0.8;
    border-left: 2px solid rgba(0, 0, 0, 0.6);
}

.hud-old-item:first-child {
    border-right: 2px solid rgba(0, 0, 0, 0.6);
    border-left: none;
}

.hud-old-status {
    width: calc(25% - 2px);
    border-inline: none;
    border: none;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.6);
    /* padding: 0%; */
}

#hud-old-voice {
    width: 50%;
    border-right: none;
}

.hud-old-item .inner {
    width: 100%;
    height: 0.8vh;
}

.hud-old-status .inner {
    height: 0.8vh;
}

#hud-old-voice .inner {
    background-color: rgb(153, 153, 153);
    opacity: 1;
}